<div class="face-snap-card" [ngClass]="{ snapped: buttonName === 'Oops unSnap!' }">
  <p>{{ 350.25 | currency: 'EUR'}}</p>
  <h2>{{faceSnap.title | titlecase}}</h2>
  <p>Mis en ligne {{ faceSnap.createDate | date: 'le d MMMM yyyy, à HH:mm' }}</p>
  <img [src]="faceSnap.imageUrl" [title]="faceSnap.title" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">Photo prise au {{faceSnap.location}}</p>
  <p>
    <button (click)="onSnap()"> {{ buttonName }}</button>
    <span [ngStyle]="{ color:'rgb(0,' + faceSnap.snaps + ',0)'}">{{ faceSnap.snaps }}</span>
  </p>
</div>

